body {
  margin: 0;
  font-family: "Century Gothic";
  font-family: "Century Gothic Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Century Gothic";
  font-family: "Century Gothic Bold";
}
